{% load static %}
{% load collaborator_tags %}

<header>
  <nav class="navbar navbar-expand-lg d-flex " id="navbar">
    <div class="container-fluid">
      <a class="navbar-brand px-3" href="{% url 'index' %}"><img src="{% static 'logo/header.png' %}" style="width: 120px;" ></a>
      {% comment %} boton del nav en mobile {% endcomment %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      {% comment %} menu del nav {% endcomment %}
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link px-4 active" aria-current="page" href="{% url 'index' %}">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-4" href="{% url 'about' %} ">Sobre nosotros</a>
          </li>

          <li class="nav-item">
            <a class="nav-link px-4" href="{% url 'post:list_categoria' %}">Todas las Categorías</a>
          </li> 

          <li class="nav-item">
            <a href="{% url 'post:posts' %}" class="nav-link px-4 text-info">Todos los posts</a>
          </li>

          {% comment %} ####IMPORTANTE#### {% endcomment %}
          {% if request.user.userprofile.is_collaborator or request.user|has_group:"Collaborator"%}
          <li class="nav-item">
            <a href="{% url 'post:new_post' %}" class="nav-link px-4 text-info">Crear un nuevo post</a>
          </li>
          {% endif %}

        </ul>
      </div>
      

        {% comment %} opciones de usuario {% endcomment %}
        <div class="" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              {% if request.user.is_authenticated %}
                  <a class="nav-link disable px-4" aria-current="page" href="{% url 'user:logout' %}">Cerrar Sesión</a>
              {% else %}
                  <a class="nav-link active link-info  px-4" aria-current="page" href="{% url 'user:login' %}">Iniciar Sesión</a>
              {% endif %}
            </li>
              {% if not request.user.is_authenticated %}
                  <li class="nav-item">
                      <a class="nav-link link-info  px-4" href="{% url 'user:register' %}">Registrarse</a>
                  </li>
              {%endif%}
              
              {% if request.user.is_authenticated %}
              <li class="nav-item">
                  <a class="nav-link link-info fw-bold px-4" href="{% url 'user:profile' request.user.id %}"> {{request.user.username|capfirst}}</a>
              </li>
              {% endif %}
          </ul>
        </div>
      </div>
        </ul>
  </nav>
</header>
