{% extends 'base.html' %}
{% load static %}
{% load collaborator_tags %}

{% block content %}
<div class="d-flex flex-column align-items-center">

    <div id="bg_post" class="d-flex  flex-column align-items-center justify-content-around px-4 pt-4 pb-3 rounded-4 border border-info" style="max-width: 35rem;">
        <img id="img_post_detail" src="{{post.imagen.url}}" alt="Imagen ilustrativa del post">
        <h3 class="pt-3 text-light">{{post.titulo}}</h3>
        <p>{{post.contenido}}</p> 
        <p >Autor: {{post.autor}}</p>
        <div class="d-flex w-100 justify-content-around">
            <span>{{post.fecha_creacion}}</span>
            <span>Categoría: {{post.categoria}}</span>
        </div>
   
        <div class="d-flex mt-3">
            {% if request.user.userprofile.is_collaborator or request.user == post.autor  %}
                <div class="me-2">
                    <a href="{% url 'post:edit_post' pk=post.id %}" class="btn btn-outline-info" > Modificar Post</a>
                </div>
            
            {% endif %}
            {% if request.user.is_superuser or request.user == post.autor %}
                <div class="ms-2">
                    <a href="{% url 'post:delete_post' pk=post.id %}" class="btn btn-outline-danger"> Eliminar Post</a>
                </div>
            {% endif %}
        </div> 
    </div>

    <button class="btn btn-outline-info mt-2"><a class="nav-link link-info " href="{% url 'index' %}">Volver a inicio</a></button>
</div>
{% include "comentarios/new_comentario.html" %}
{% endblock content %}

